Repository hashicorp/consul-helm, pull requests merged in 2020-08, with the labels that each got.

#565 Add link to Learn in README
  README.md
Labels: documentation

#555 Customize the DNS service (fixes #545)
  templates/dns-service.yaml
  test/unit/dns-service.bats
  values.yaml
Labels: area/dns, enhancement

#571 Add terminating gateway tests without ACL/TLS
  test/acceptance/tests/terminating-gateway/fixtures/static-client.yaml
  test/acceptance/tests/terminating-gateway/main_test.go
  test/acceptance/tests/terminating-gateway/terminating_gateway_test.go
Labels: area/gateways, theme/acceptance-tests

#570 make sync-catalog work with clients disabled
  templates/sync-catalog-deployment.yaml
  test/unit/sync-catalog-deployment.bats
Labels: area/chart-only, area/sync, enhancement

#581 Add auto-encrypt and secure terminating gateway tests
  test/acceptance/helpers/helpers.go
  test/acceptance/tests/basic/basic_test.go
  test/acceptance/tests/connect/connect_inject_test.go
  test/acceptance/tests/ingress-gateway/ingress_gateway_test.go
  test/acceptance/tests/mesh-gateway/mesh_gateway_test.go
  test/acceptance/tests/sync/sync_catalog_test.go
  test/acceptance/tests/terminating-gateway/terminating_gateway_test.go
Labels: theme/acceptance-tests

#584 Add acceptance tests instructions to Contributing
  .circleci/config.yml
  CONTRIBUTING.md
  test/acceptance/framework/environment.go
  test/acceptance/tests/example/example_test.go
  test/acceptance/tests/example/main_test.go
  test/terraform/gke/main.tf
  test/terraform/gke/outputs.tf
  test/terraform/gke/variables.tf
Labels: theme/acceptance-tests

#585 envoy versioning is now set at the global level
  CHANGELOG.md
  templates/connect-inject-deployment.yaml
  templates/mesh-gateway-deployment.yaml
  test/unit/connect-inject-deployment.bats
  test/unit/mesh-gateway-deployment.bats
  values.yaml
Labels: area/connect, area/gateways, enhancement

#586 Write debug info when tests fail
  .circleci/config.yml
  CONTRIBUTING.md
  test/acceptance/framework/config.go
  test/acceptance/framework/consul_cluster.go
  test/acceptance/framework/consul_cluster_test.go
  test/acceptance/framework/environment.go
  test/acceptance/framework/flags.go
  test/acceptance/framework/suite.go
  test/acceptance/helpers/helpers.go
  test/acceptance/tests/connect/connect_inject_test.go
  test/acceptance/tests/ingress-gateway/ingress_gateway_test.go
  test/acceptance/tests/mesh-gateway/main_test.go
  test/acceptance/tests/mesh-gateway/mesh_gateway_test.go
  test/acceptance/tests/sync/sync_catalog_test.go
  test/acceptance/tests/terminating-gateway/terminating_gateway_test.go
Labels: theme/acceptance-tests
