Repository hashicorp/consul-helm, pull requests merged in 2020-07, with the labels that each got.

#533 Update resource settings for the lifecycle sidecar and init containers for the gateway deployment templates
  templates/ingress-gateways-deployment.yaml
  templates/mesh-gateway-deployment.yaml
  templates/terminating-gateways-deployment.yaml
Labels: bug, enhancement

#483 Add acceptance tests framework and tests for basic install, connect, and sync
  test/acceptance/_helpers.bash
  test/acceptance/framework/config.go
  test/acceptance/framework/config_test.go
  test/acceptance/framework/consul_cluster.go
  test/acceptance/framework/consul_cluster_test.go
  test/acceptance/framework/environment.go
  test/acceptance/framework/flags.go
  test/acceptance/framework/suite.go
  test/acceptance/go.mod
  test/acceptance/go.sum
  test/acceptance/helpers/helpers.go
  test/acceptance/helpers/kubectl.go
  test/acceptance/server.bats
  test/acceptance/tests/basic/basic_test.go
  test/acceptance/tests/basic/main_test.go
  test/acceptance/tests/connect/connect_inject_test.go
  test/acceptance/tests/connect/fixtures/static-client.yaml
  test/acceptance/tests/connect/fixtures/static-server.yaml
  test/acceptance/tests/connect/main_test.go
  test/acceptance/tests/sync/main_test.go
  test/acceptance/tests/sync/sync_catalog_test.go
  test/docker/Test.dockerfile
Labels: area/builds, theme/acceptance-tests

#547 Run acceptance tests on every PR
  .circleci/config.yml
  test/acceptance/framework/consul_cluster.go
  test/acceptance/framework/consul_cluster_test.go
  test/acceptance/framework/environment.go
  test/acceptance/framework/flags.go
  test/acceptance/go.sum
  test/acceptance/helpers/helpers.go
  test/acceptance/helpers/kubectl.go
  test/acceptance/tests/connect/connect_inject_test.go
  test/acceptance/tests/sync/sync_catalog_test.go
  test/docker/Test.dockerfile
Labels: area/builds, theme/acceptance-tests

#528 allow to disable fsgroup, when installing to openshift
  templates/server-statefulset.yaml
  test/unit/server-statefulset.bats
  values.yaml
Labels: enhancement, theme/openshift

#556 Add additional resource settings for Connect and gateways
  templates/connect-inject-deployment.yaml
  templates/ingress-gateways-deployment.yaml
  templates/mesh-gateway-deployment.yaml
  templates/terminating-gateways-deployment.yaml
  test/unit/connect-inject-deployment.bats
  test/unit/ingress-gateways-deployment.bats
  test/unit/mesh-gateway-deployment.bats
  test/unit/terminating-gateways-deployment.bats
  values.yaml
Labels: area/connect, area/gateways

#552 Add multi-cluster support to the acceptance tests framework, plus a few mesh gateway tests
  .circleci/config.yml
  test/acceptance/framework/config.go
  test/acceptance/framework/consul_cluster.go
  test/acceptance/framework/environment.go
  test/acceptance/framework/flags.go
  test/acceptance/framework/flags_test.go
  test/acceptance/framework/suite.go
  test/acceptance/helpers/helpers.go
  test/acceptance/helpers/kubectl.go
  test/acceptance/tests/connect/connect_inject_test.go
  test/acceptance/tests/mesh-gateway/fixtures/static-client.yaml
  test/acceptance/tests/mesh-gateway/fixtures/static-server.yaml
  test/acceptance/tests/mesh-gateway/main_test.go
  test/acceptance/tests/mesh-gateway/mesh_gateway_test.go
  test/acceptance/tests/sync/sync_catalog_test.go
  test/terraform/gke/main.tf
  test/terraform/gke/outputs.tf
  test/terraform/gke/variables.tf
  test/terraform/outputs.tf
Labels: theme/acceptance-tests

#560 Update changelog to reflect release
  CHANGELOG.md
Labels: documentation

#561 Make sure GKE clusters get cleaned up from the right directory in CI
  .circleci/config.yml
Labels: area/builds, theme/acceptance-tests
