Repository hashicorp/consul-helm, pull requests merged in 2020-09, with the labels that each got.

#592 Refactor common fixtures to use kustomize
  test/acceptance/helpers/helpers.go
  test/acceptance/helpers/kubectl.go
  test/acceptance/tests/connect/connect_inject_test.go
  test/acceptance/tests/connect/fixtures/static-client.yaml
  test/acceptance/tests/connect/fixtures/static-server.yaml
  test/acceptance/tests/fixtures/bases/static-client/deployment.yaml
  test/acceptance/tests/fixtures/bases/static-client/kustomization.yaml
  test/acceptance/tests/fixtures/bases/static-client/serviceaccount.yaml
  test/acceptance/tests/fixtures/bases/static-server/deployment.yaml
  test/acceptance/tests/fixtures/bases/static-server/kustomization.yaml
  test/acceptance/tests/fixtures/bases/static-server/service.yaml
  test/acceptance/tests/fixtures/bases/static-server/serviceaccount.yaml
  test/acceptance/tests/fixtures/cases/static-client-inject/kustomization.yaml
  test/acceptance/tests/fixtures/cases/static-client-inject/patch.yaml
  test/acceptance/tests/fixtures/cases/static-client-multi-dc/kustomization.yaml
  test/acceptance/tests/fixtures/cases/static-client-multi-dc/patch.yaml
  test/acceptance/tests/fixtures/cases/static-server-inject/kustomization.yaml
  test/acceptance/tests/fixtures/cases/static-server-inject/patch.yaml
  test/acceptance/tests/ingress-gateway/fixtures/bounce.yaml
  test/acceptance/tests/ingress-gateway/fixtures/static-server.yaml
  test/acceptance/tests/ingress-gateway/ingress_gateway_test.go
  test/acceptance/tests/mesh-gateway/fixtures/static-server.yaml
  test/acceptance/tests/mesh-gateway/mesh_gateway_test.go
  test/acceptance/tests/sync/sync_catalog_test.go
  test/acceptance/tests/terminating-gateway/fixtures/static-client.yaml
  test/acceptance/tests/terminating-gateway/fixtures/static-server.yaml
  test/acceptance/tests/terminating-gateway/terminating_gateway_test.go
Labels: theme/acceptance-tests

#580 Add support for changing the Consul node name where services are sync'd
  CHANGELOG.md
  templates/server-acl-init-job.yaml
  templates/sync-catalog-deployment.yaml
  test/unit/server-acl-init-job.bats
  test/unit/sync-catalog-deployment.bats
  values.yaml
Labels: area/sync, enhancement

#593 Acceptance tests: add enterprise support and namespace tests
  .circleci/config.yml
  CONTRIBUTING.md
  test/acceptance/framework/config.go
  test/acceptance/framework/config_test.go
  test/acceptance/framework/consul_cluster.go
  test/acceptance/framework/flags.go
  test/acceptance/framework/flags_test.go
  test/acceptance/go.mod
  test/acceptance/go.sum
  test/acceptance/tests/connect/connect_inject_namespaces_test.go
  test/acceptance/tests/connect/connect_inject_test.go
  test/acceptance/tests/fixtures/cases/static-client-namespaces/kustomization.yaml
  test/acceptance/tests/fixtures/cases/static-client-namespaces/patch.yaml
  test/acceptance/tests/ingress-gateway/ingress_gateway_namespaces_test.go
  test/acceptance/tests/ingress-gateway/ingress_gateway_test.go
  test/acceptance/tests/sync/sync_catalog_namespaces_test.go
  test/acceptance/tests/terminating-gateway/terminating_gateway_namespaces_test.go
  test/acceptance/tests/terminating-gateway/terminating_gateway_test.go
Labels: theme/acceptance-tests

#601 Consul ent namespaces support for controller
  .circleci/config.yml
  templates/controller-deployment.yaml
  test/acceptance/helpers/kubectl.go
  test/acceptance/tests/controller/controller_namespaces_test.go
  test/acceptance/tests/controller/main_test.go
  test/acceptance/tests/example/example_test.go
  test/acceptance/tests/example/main_test.go
  test/acceptance/tests/fixtures/crds/servicedefaults.yaml
  test/unit/controller-deployment.bats
Labels: enhancement, theme/consul-namespaces, theme/crds

#607 acceptance-tests: fix flakey mesh gateway test
  test/acceptance/framework/consul_cluster.go
  test/acceptance/go.mod
  test/acceptance/tests/mesh-gateway/mesh_gateway_test.go
  test/acceptance/tests/sync/sync_catalog_namespaces_test.go
Labels: bug, theme/acceptance-tests

#611 Fix some acceptance tests bugs
  CONTRIBUTING.md
  test/acceptance/framework/consul_cluster.go
  test/acceptance/framework/consul_cluster_test.go
  test/acceptance/framework/environment.go
  test/acceptance/framework/flags.go
  test/acceptance/go.mod
  test/acceptance/go.sum
  test/acceptance/helpers/helpers.go
  test/acceptance/tests/connect/connect_inject_namespaces_test.go
  test/acceptance/tests/connect/connect_inject_test.go
  test/acceptance/tests/consul-dns/consul_dns_test.go
  test/acceptance/tests/example/example_test.go
  test/acceptance/tests/ingress-gateway/ingress_gateway_namespaces_test.go
  test/acceptance/tests/ingress-gateway/ingress_gateway_test.go
  test/acceptance/tests/mesh-gateway/mesh_gateway_test.go
  test/acceptance/tests/sync/sync_catalog_namespaces_test.go
  test/acceptance/tests/sync/sync_catalog_test.go
  test/acceptance/tests/terminating-gateway/terminating_gateway_namespaces_test.go
  test/acceptance/tests/terminating-gateway/terminating_gateway_test.go
Labels: bug, theme/acceptance-tests

#621 Update test fixture with changes
  test/acceptance/tests/controller/controller_namespaces_test.go
  test/acceptance/tests/controller/controller_test.go
Labels: bug, theme/crds

#617 Support for ServiceRouter
  templates/controller-clusterrole.yaml
  templates/controller-mutatingwebhookconfiguration.yaml
  templates/crd-servicerouter.yaml
  test/acceptance/tests/controller/controller_namespaces_test.go
  test/acceptance/tests/controller/controller_test.go
  test/acceptance/tests/fixtures/crds/servicerouter.yaml
Labels: theme/crds

#619 Update to latest serviceresolver crd
  templates/crd-serviceresolver.yaml
  test/acceptance/tests/controller/controller_test.go
Labels: theme/crds

#624 Add support for ServiceSplitter
  .circleci/config.yml
  templates/controller-clusterrole.yaml
  templates/controller-mutatingwebhookconfiguration.yaml
  templates/crd-servicedefaults.yaml
  templates/crd-serviceresolvers.yaml
  templates/crd-servicerouter.yaml
  templates/crd-servicerouters.yaml
  templates/crd-servicesplitters.yaml
  test/acceptance/tests/controller/controller_namespaces_test.go
  test/acceptance/tests/controller/controller_test.go
  test/acceptance/tests/fixtures/crds/servicesplitter.yaml
Labels: enhancement, theme/crds
