Repository hashicorp/consul-helm, pull requests merged in 2020-12, with the labels that each got.

#712 Run acceptance tests against kind
  .circleci/config.yml
  test/acceptance/framework/config/config.go
  test/acceptance/framework/flags/flags.go
  test/acceptance/tests/mesh-gateway/mesh_gateway_test.go
Labels: theme/acceptance-tests

#718 Log envoy config for mesh gateways on test failures
  test/acceptance/framework/k8s/debug.go
  test/acceptance/go.sum
Labels: theme/acceptance-tests

#582 Update `config-checksum` annotation on config changes
  CHANGELOG.md
  templates/client-daemonset.yaml
  templates/server-statefulset.yaml
  test/unit/client-daemonset.bats
  test/unit/server-statefulset.bats
Labels: area/chart-only, bug

#708 Run acceptance tests against a cluster with Pod security policies
  .circleci/config.yml
  CONTRIBUTING.md
  test/acceptance/framework/config/config.go
  test/acceptance/framework/config/config_test.go
  test/acceptance/framework/consul/consul_cluster.go
  test/acceptance/framework/flags/flags.go
  test/acceptance/tests/fixtures/bases/static-client/kustomization.yaml
  test/acceptance/tests/fixtures/bases/static-client/rolebinding.yaml
  test/acceptance/tests/fixtures/bases/static-server/kustomization.yaml
  test/acceptance/tests/fixtures/bases/static-server/rolebinding.yaml
  test/terraform/gke/main.tf
Labels: theme/acceptance-tests

#753 Add docs gen annotations to resource settings
  values.yaml
Labels: documentation
