Repository hashicorp/consul-helm, pull requests merged in 2021-04, with the labels that each got.

#891 use consul-ca-cert when client disabled for sync catalog and auto encrypt
  CHANGELOG.md
  templates/sync-catalog-deployment.yaml
  test/unit/sync-catalog-deployment.bats
Labels: area/sync, bug

#916 Fix nightly tests
  .circleci/config.yml
  test/acceptance/framework/consul/consul_cluster.go
Labels: area/builds

#921 Allow unstructed schema for config in ProxyDefaults
  CHANGELOG.md
  templates/crd-proxydefaults.yaml
  test/acceptance/tests/controller/controller_test.go
  test/acceptance/tests/fixtures/crds/proxydefaults.yaml
Labels: bug, theme/crds
