Repository hashicorp/consul-helm, pull requests merged in 2021-05, with the labels that each got.

#942 Add namespace read support to the connect-inject clusterrole so we can read namespaces
  CHANGELOG.md
  templates/connect-inject-clusterrole.yaml
Labels: area/connect

#941 Add mesh resource to consul-helm
  .circleci/config.yml
  CHANGELOG.md
  templates/controller-clusterrole.yaml
  templates/controller-mutatingwebhookconfiguration.yaml
  templates/crd-meshes.yaml
  test/acceptance/go.mod
  test/acceptance/go.sum
  test/acceptance/tests/controller/controller_namespaces_test.go
  test/acceptance/tests/controller/controller_test.go
  test/acceptance/tests/fixtures/crds/mesh.yaml
  test/unit/crd-meshes.bats
Labels: enhancement, theme/crds

#953 Allow overwriting kubernetes http probes
  CHANGELOG.md
  templates/connect-inject-deployment.yaml
  test/acceptance/tests/fixtures/cases/static-server-inject/patch.yaml
  test/unit/connect-inject-deployment.bats
  values.yaml
Labels: enhancement
